/* ---------------*/
/* --- General ---*/
/* ---------------*/

.App {
  height: 100vh;
  width: 100vw;
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

/* --------------------------*/
/* --- Sign In & Register ---*/
/* --------------------------*/

.signin-page,
.register-page {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.signin-page input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.signin-page input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-link:hover {
  text-decoration: none;
}

/* --------------*/
/* --- Navbar ---*/
/* --------------*/

.logo-container {
  background-color: white;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  height: 100%;
  width: auto;
}

/* -----------------*/
/* --- Home Page ---*/
/* -----------------*/

.pattern-bg {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
}

.url-container {
  width: max-content;
}

#url {
  width: 50vw;
  height: 3em;
  padding-left: 20px;
}

.detect-btn {
  height: 3em;
  width: 100px;
  background: rgb(255, 215, 1);
  border: 3px solid rgb(255, 215, 1);
  transition: linear 0.2s;
  text-transform: uppercase;
  font-weight: 600;
}

.detect-btn:hover {
  background: #f4cc06;
  border: 3px solid #f4cc06;
}

.face-detect-container {
  position: relative;
  width: max-content;
  height: max-content;
}

.face-detect-container img {
  height: 30em;
  width: auto;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px rgb(255, 215, 1) inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
